apiVersion: v1
kind: Service
metadata:
  labels:
    app: mybookdeployconfigmap 
  name: mybookdeploy-service 
spec:
  ports:
  - port: 8080 
    protocol: TCP  
    targetPort: 80 
  selector:
    app: mybookdeployconfigmap  
  type: ClusterIP